
body{
  position: static;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}


.skill{
  font-size: 1.8em;
  font-style: italic;
}

header li{
color: white;
font-size: 20px;
display: inline-block;
position: relative;
}

.img{
  display: none;
  max-width: 50%;
  height: 400px;
}

.active-img{
  display: inline-block;
  max-width: 50%;
  height: 400px;
}

.slider-dots {
  list-style: none;
  display: inline;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 25px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #333;
}

p{
  font-size: 2em;
}

strong:hover{
  color:yellow;
}
span:hover{
  color:green;
}
#html:hover{
  color: blue;
}
#css:hover{
  color:red;
}
#jQ:hover{
  color: #666;
}
